.home {
    margin-top: 100px;

    
    .card__custom {
        background-color: yellow;
        color: #290b29;
        width: 20rem;
        height: 40rem !important;

        .card__custom__img{
            height: 350px !important;
        }
    }

}