.shop__filtermenu{
    margin-bottom: 4px;

    .shop__filtermenu__body{

        
        cursor: pointer;
        
        &:hover{
            background-color: yellow;
        }
    }

    .shop__filtermenu__body--active {
        background-color: #290b29;
        color: yellow;
        cursor: pointer;
    }
    

    
}

.shop__filtermenu__header {

    .accordion-button:focus {
        background-color: #290b29;
        color: yellow;
        border-color: #290b29;
    }

    .accordion-button:not(.collapsed) {
        color: yellow;
        background-color: #290b29;
        border-color: yellow;
    }
}