.bookworm__footer {
    background-color:rgb(41, 11, 41);
    color: #fff;
    padding: 15px 25px;
    h1 {
        font-weight: 200;
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
        font-weight: 100;
    }

    margin-bottom: 0;
    width: 100%;

}
